h1#gTitle{
  text-align: center;
  font-size: 35px;
}

summary, p{
  position: relative;
  display: block;
  margin: auto;
  width: 500px;
  font-weight: bold;
  text-align: center;
}

#wb{
  padding-top: 10px;
  color: black;
}

.enumeratePages{
  position: static;
  padding: 3px;
  font-weight: bold;
  display: inline-block;
  list-style: none;
  width: 500px;
}

#listInfo{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: auto;
  text-align: center;
}

#developerInfo{
  margin-top: 50px;
}

section#developerInfo p{
  text-align: left;
}

h3{
  margin-top: 10px;
}

h2,h3{
  color: black
}
