#content{
  color: white;
}

#eTitle{
  text-align: center;
  font-size: 30px;
}


#selectedKey{
  position: relative;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  width: 96px;
  height: 96px;
  clear:both;
}

#keySelect{
  position: relative;
  margin: auto;
  padding: 2%;
  padding-top: 30px;
  font-size: 20px;
  width: auto;
  height: auto;
  clear: both;
}

#inputDisplay{
  clear: both;
  width: auto;
  height: auto;
}

#inputDisplay > *{
  padding: 2%;
}

#clearText{
  background: inherit;
  width: 100%;
  font-size: 20px;
  color: #a9a9a9;
}

#clearText:focus{
  outline: none;
}

#weather > *{
  color: white;
  background-color: inherit;
  border: none
}

#weather > *:focus{
  outline: none;
}

#weather > button{
  border: solid 2px white;
  border-radius: 10px;
}

#weather > button:hover{
  cursor: pointer;
}

.letter{
  display: inline-block;
  padding: 4px;
  font-size: 40px;
  cursor: pointer;
}

.emoji{
  display: block;
  padding: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.containEmoji{
  display: inline-block;
}

#in, #out{
  width: 95%;
}


#resultEncrypt{
  display: block;
  width: inherit;
  height: 120px;
}

#resultEncrypt > *{
  display:inline-block;
}


.emojiDisplayed{
  width: 60px;
  height: 60px;
}

#content{
  disabled:
}
