*{
  padding: 0;
  margin: 0;
  font-family: sans-serif,verdana;
}

noscript{
  color: black;
}

body, html{
  position: relative;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  min-width: 250px;
}

h1{
    font-size: 40px;
}

header{
  background-color: #6DC4F0;
  display: inline-block;
  padding: 5px 0 5px 0;
  color: white;
  width: 100%;
  height: 60px;
}

#homeTitle{
  display: inline-block;
  float: left;
  padding: 10px;
}

a{
  text-decoration:inherit;
  color: inherit;
}

ul#navbar{
  text-align: center;
  font-size: 25px;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  list-style: none;
  background-color: #6DC4F0;
}

ul#navbar li:not(:first-child){
  display: block;
  padding: 7%;
}

ul#navbar li:nth-child(2){
  margin-top: 50px;
}

#closeMenu{
  position: absolute;
  display: block;
  left: 0;
  font-size: 40px;
  margin-left: 10px;
  padding: 2%;
}

ul#navbar li:hover, #openMenu:hover{
  color: #A9A9A9;
}

#openMenu{
  cursor: pointer;
  position: absolute;
  padding: 10px;
  padding-right: 15px;
  right: 0;
  font-size: 30px;
}

.upperRed{
  background-color: #FD5F5F;
}

.lowerYellow{
  background-color: #ffcc33;
  color: white;
  font-size: 20px;
}

::-webkit-input-placeholder {
  color: inherit;
}
:-moz-placeholder {
  color: inherit;
}
::-moz-placeholder {
   color: inherit;
}
:-ms-input-placeholder {
   color: inherit;
}

textarea{
  resize: none;
  border: none;
}

iframe{
  position: fixed;
}
