

h1#bTitle{
  text-align: center;
  font-size: 40px;
}

summary, p{
  position: relative;
  margin: auto;
  display: block;
  width: 300px;
  height: 60px;
  font-weight: bold;
  text-align: center;
}

#info{
  position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
}

#use{
  font-size: 20px;
  color: black;
}

#codeIntro{
  position: relative;
  display: block;
  margin: auto;
  padding-bottom: 20px;
  width: 696px;
  height: 152px;
  margin-top: 60px;
}

#listInfo{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
  width:auto;
  max-width: 800px;
}

.encryptUseInfo{
  display: inline-block;
  width: 380px;
  height: auto;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: center;
  background-color: #6DC4F0;
}

#secureWebImg{
  position: relative;
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 200px;
}

section.encryptUseInfo p{
  position: static;
  width: 360px;
  padding: 20px;
  font-weight: normal;
}

h3{
  font-weight: normal;
  padding-top: 10px;
  color: #000066;
}
