.slides{
  position: absolute;
  width: 100%;
  height: 100%
}

#slide1{
  z-index: 3;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: #FD5F5F;
}

#slide2{
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: #ffcc33;
}

#slide3{
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: #FD5F5F;
}

p{
  font-weight: bold;
}

p.title{
  display: inline-block;
  width: 200px;
  padding: 2%;
}


img{
  border: solid 1px black;
  margin-top: 2%;
}

.next{
  width: 150px;
  height:30px;
  background-color: inherit;
  border: solid 1px white;
  color: inherit;
  position: absolute;
  right: 0;
  bottom: 0;
}

.next:focus{
  outline: none;
}

.next:hover{
  cursor: pointer;
}
